.contact-us-cover {
    background-image: url("/public/assets/universe.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contact-us-cover .text-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #0000009a;
    border-radius: .5rem;
    padding: .5rem 1.3rem;
    margin-left: 8rem;

    /* gap: 2rem; */
}

.text-content .title {
    color: #8590b1;
    font-size: 1.3rem;
    font-weight: 100;
}

.text-content .heading {
    color: #fff;
    font-size: 2.5rem;
}

.text-content .description {
    color: #8590b1;
    font-size: 1.3rem;
    font-weight: 100;
}

.contact-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #e2e2ef;
    min-height: 50rem;
    min-width: 100vw;

}

.company-details {
    width: 32vw;
    height: 550px;
    border-radius: .5rem;
    background: #172444;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.company-details h1 {
    color: #fff;
    font-size: 1.6rem;
}

.company-details .section {
    text-align: left;
    margin-top: 2rem;
}

.company-details .section p,
.company-details .section div div {
    color: #ccc5c5;
    font-size: 1.2rem;
}

.company-details .icons {
    margin-top: auto;
    color: #fff;

}

.company-details .social-icons {
    padding: .1rem;
    font-size: x-large;
}

.company-details .icon {
    height: 7%;
    width: 7%;
    margin: .25rem .25rem;
}

.big-circle {
    width: 10rem;
    height: 10rem;
    background: #fff;
    border-top-left-radius: 100%;
    border-bottom-right-radius: .5rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

.small-circle {
    width: 8rem;
    height: 8rem;
    background: #010101;
    opacity: 0.8;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.message-form {
    width: 50vw;
    height: 550px;
    padding: 2rem;
    border-radius: .5rem;
    background: #ffffff;
    position: relative;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2.5rem;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 20px;
    /* Increased spacing for better readability */
}

.form-row.full-width {
    flex-direction: column;
}

.form-group {
    flex: 1 1 48%;
    display: flex;
    flex-direction: column;
}

.form-group input,
.form-group textarea {
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    /* Thicker bottom border */
    background-color: transparent;
    /* Transparent input background */
    color: #000000;
    /* White text for input fields */
    font-size: 16px;
    /* Larger font size for better readability */
}

.form-group input:focus,
.form-group textarea:focus {
    border-bottom: 2px solid #ccc;
    /* Keep border color same on focus */
    outline: none;
    /* Remove default focus outline */
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #0b0b0b;
    /* Lighter placeholder color */
}

.form-group textarea {
    resize: none;
    height: 10rem;
}

.form-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #172444;
    color: white;
    cursor: pointer;
    font-size: 16px;
    /* Larger font size for button */
    align-self: flex-end;
}

.form-group button:hover {
    background-color: #172455;
}

.faq {
    background: #e2e2ef;
    padding: 1rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons a {
    color: inherit; 
    text-decoration: none;
  }
  
  .icons a:hover {
    color: #103052; 
  }
  
  .social-icons {
    font-size: 24px;
    margin-right: 10px;
  }